server:
  port: 8080
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/users/**

        - id: transaction-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/transactions/**

        - id: notification-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/notifications/**

        - id: reward-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/rewards/**